<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--Manny's ConnectionString-->
    <!--<add name="LAUNCHEntities" connectionString="metadata=res://*/LaunchModel.csdl|res://*/LaunchModel.ssdl|res://*/LaunchModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\LnchInstance;initial catalog=LAUNCH;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Jorge ConnectionString-->
    <add name="LAUNCHEntities" connectionString="metadata=res://*/LaunchModel.csdl|res://*/LaunchModel.ssdl|res://*/LaunchModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JORGE\SQLEXPRESS;initial catalog=LAUNCH;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63637/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService" contract="LaunchServices.IService"
        name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
</configuration>