<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Manny's ConnectionString-->
    <!--<add name="LAUNCHEntities" connectionString="metadata=res://*/LaunchModel.csdl|res://*/LaunchModel.ssdl|res://*/LaunchModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\LnchInstance;initial catalog=LAUNCH;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Jorge ConnectionString-->
    <add name="LAUNCHEntities" connectionString="metadata=res://*/LaunchModel.csdl|res://*/LaunchModel.ssdl|res://*/LaunchModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JORGE\SQLEXPRESS;initial catalog=LAUNCH;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>